@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.content-2-2 .btn-outline {
  border: 1px solid #979797;
  color: #979797;
}

.content-2-2 .btn-outline:hover {
  border: 1px solid #27c499;
  color: #27c499;
}

.content-2-2 .btn-fill {
  background-color: #27c499;
  border: 1px solid #27c499;
}

.content-2-2 .card-header {
  background-color: #eef6f4;
  border: 1px solid #27c499;
}

.content-2-2 .text-medium-black {
  color: #121212;
}

.content-2-2 .text-gray {
  color: #565656;
}

.footer-2-1 .list-footer li a {
  color: #c7c7c7;
}
.footer-2-1 .list-footer li a:hover {
  color: #555252;
}
.footer-2-1 .border-color {
  color: #c7c7c7;
}
.footer-2-1 .footer-link:hover {
  color: #555252;
}
.footer-2-1 .social-media-c:hover circle,
.footer-2-1 .social-media-p:hover path {
  fill: #555252;
}
